/*
Project List
*/
.object-list {cursor: default;margin: .5em;padding: .5em;border: 1px solid #DDDDDD;}
.object-list a { text-decoration:  none;  }

/*
Not sure right now
*/
.responsibility-box
{
    border: 1px dotted lightgray;
    padding: 5px 10px 5px 10px;
}

/* project/details */
.steps-container { width: 275px; margin-left: 30px; float:left; }
.step  
{
    height: 25px; 
    margin-top: 10px;
    width: 250px;
    text-align:left;
}
.step span { float:left;}
.icon  
{
    margin-top: 6px;
}
.step-text
{
    margin: 5px 0px 0px 10px;
}

/* Colors for the steps working status */
.pending{border-color: Yellow;}
.working{border-color: Green;}
.complete{border-color: Red;}

/* security/step1 and privacy/step1 */
.source-cell{width: 150px;}
.term{font-weight:bold;}
.button-cell{width: 75px;}
.term-cell{width: 150px;}