/* ==========================================
Site-wide CSS
========================================== */
body
{
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}


/* The top header */
#header
{
    background: url(../Images/title_bar_bg.png) repeat-x scroll 50% 50% #CCCCCC;
    height: 50px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
#header span.logos {width: 925px; margin: 0px auto; display: block;}
#header span.logos img {height: 50px; padding: 0px 0px 0px 30px;}

#footer { border-top: 1px solid lightgray; margin-top: 20px; text-align:center; padding: 10px 0px 10px 0px; color:#585858;}

/* Nav bar */
#nav { height: 30px; border-bottom: 1px solid lightgray; position:relative; padding: 0; }
#nav-container {width: 925px; margin: 15px auto; }
#logout-container {float:right;}


/* Main body of the pages */
.page
{
    width: 925px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto 0px auto;
    font-size: 1.1em;
}
.main_content {width:937px; margin:0 auto;}



/* containers */
.large-left-box 
{
    width: 73%;
    font-size: 1em;
    border: 1px solid #AAAAAA;
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 10px 0px;
    float: left;    
}

.small-left-box
{
    width: 24%;
    font-size: 1em;
    border: 1px solid #AAAAAA;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    float: left;
}

.large-right-box
{
    width: 73%;
    font-size: 1em;
    border: 1px solid #AAAAAA;
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 10px 0px;
    float: right;
}

.small-right-box
{
    width: 24%;
    font-size: 1em;
    border: 1px solid #AAAAAA;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    float: right;
}

.box-header
{
    margin: 2px 2px 0px 2px;
    padding: 5px 0px 5px 5px;
    height: 15px;
    font-weight: bold;
}

.box-content
{
    width: 100px;
    margin: 5px 10px 0px 10px;
    height: 100px;
}

.button
{
    cursor: pointer;
    padding: 0.4em 1em;
    margin-right: 0.1em;
    overflow:visible;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: 1px solid #D3D3D3;
    color: #555555;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

.button:hover
{
    background:url("images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
    border:1px solid #999999;
    color:#212121;
    font-weight:normal;
}

a {text-decoration: none;}

h2
{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

h3 
{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

fieldset { border: 1px solid lightgray; }

.divider 
{
    border-bottom: 1px solid lightgray;
    padding: 10px 0px 10px;
}

.entry-form{ list-style: none; }
.entry-form li { margin: 7px;}
.entry-form li strong 
{
    display: inline-block;
    width: 150px;
}

/* Controls */
table { border-spacing: 0px; }
table thead { background: url(../Images/title_bar_bg.png) repeat-x scroll 50% 50% #CCCCCC; }
table td { padding-top: 10px; padding-bottom: 10px; }

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
    width: 30em;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
